{% extends 'base.html' %}
{% load static %}
{% block title %} About Page {% endblock %}
{% block profile %}
<div class="fh5co-bio">
		<figure>
			<img src="{{auth.profile_picture.url}}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
		</figure>
		<h3 class="heading">About Me</h3>
		<h2>{{auth.name.username}}</h2>
		<h5>{{auth.name.email}}</h5>
		<p>{{auth.details}}</p>
		<ul class="fh5co-social">
			<li><a href="#"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-facebook"></i></a></li>
			<li><a href="#"><i class="icon-instagram"></i></a></li>
		</ul>
	</div>
{% endblock %}
{% block content %}
		{% for i in post %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'single_post' id=i.id %}"><img src="{{i.image.url}}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'topic' name=i.category.name %}">{{i.category.name}}</a></span>
				<h2 class="fh5co-article-title"><a href="{% url 'single_post' id=i.id %}">{{i.title}}</a></h2>
				<span class="fh5co-meta fh5co-date">{{i.posted_on}}</span>
			</article>
		{% endfor %}
			
{% endblock %}			


